Repository Monkestation/MonkeStation, pull requests merged in 2022-12, with the labels that each got.

#849 Swaps bee's wiki to ours.
  config/config.txt
Labels: Config Update

#832 Vehicles now rev and waddle
  code/modules/vehicles/bicycle.dm
  code/modules/vehicles/cars/car.dm
  code/modules/vehicles/cars/clowncar.dm
  code/modules/vehicles/lavaboat.dm
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vehicles/pimpin_ride.dm
  code/modules/vehicles/ridden.dm
  code/modules/vehicles/scooter.dm
  code/modules/vehicles/secway.dm
  code/modules/vehicles/wheelchair.dm
Labels: Feature

#863 Adds an xmas tree spawner to metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: mapping

#872 Chat Enlarging
  tgui/packages/tgui-panel/chat/renderer.js
Labels: TGUI-Changes
